body,
div,
form,
input,
select,
textarea,
label,
p {
  padding: 0;
  margin: 0;
  outline: none;
  /* font-family: Roboto, Arial, sans-serif; */
  font-size: 16px;
  /*color: #666;*/
  line-height: 22px;
}

input,
select,
textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input {
  width: calc(100% - 10px);
}

input[type="date"] {
  padding: 4px 5px;
}

input[type="radio"] {
  width: 12px;
}

.item input:hover,
.item select:hover,
.item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 3px 0 #669999;
  color: #669999;
}

div label {
  float: left;
}
