.active {
  background-color: gray;
}
.icon-truck {
  padding-right: 30px;
}

.content-header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/** Start Searchable phone number Dropdown button **/
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url("searchicon.png");
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.search-container button {
  padding: 7px 5px;
  margin-top: 4px;
  margin-right: 4px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.sidebar-nav {
  padding: 9px 0;
}
.navbar-global {
  background-color: #0d6efd;
  height: 52px;
}
.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0px 0 #ffffff;
}

@media only screen and (max-width: 991px) {
  .navbar-primary {
    background: #505251;
}
